@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #09090b;
    color: #fafafa;
}
.wallet-adapter-button.wallet-adapter-button-trigger{
    background-color: #ffffff;
    color: #09090b;
    transition: all 0.3s ease-out;
    border-radius: 10px;
}
.wallet-adapter-button.wallet-adapter-button-trigger:hover{
    background-color: #fefefe;
    color: #000;
    transform: scale(0.99);
}
/* Hide the spin buttons for WebKit browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spin buttons for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
